/*
Table of Contents: 
0. Global: Spacing & Layout
1. Global: Colours
2. Global: Text
3. Global: Interactive Elements
4. Global: Primary Navigation
5. Global: Footer
6. Page: Home
7. Page: Work
8. Page: About
9. Page: Contact
10. File: JavaScript
11. Global: Modal
*/

/* 
=====================================
0. GLOBAL SPACINGS AND LAYOUT
=====================================
*/

*{
    box-sizing: border-box;
}

html, body{
      font-family: Arial, sans-serif;
}

body{
    margin: 0;
}


.page-container {
    margin-top: 100px;
}
/* 
=====================================
1. Global: Colours
=====================================
*/

  body{
    /* color */
    background-color: #b4c4fa;
    color:#484a51;
  }


=====================================
4. Global: Primary Navigation
=====================================
.mr-2 {
    margin-right: ($spacer * .5) !important;
}

=====================================
10. file: JavaScript
=====================================

.pokemon-list{
    list-style: none;
}
.pokemon-button{
    background-color: rgb(170, 170, 218);
    border: none;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 4s;
    cursor: pointer;
}

/* 
=====================================
11. Modal
=====================================
*/
#modal-container{
    position: fixed;            /* The position property specifies the type of positioning method used for an element. */
    padding: 20px;
    box-sizing: border-box;     /*The position property specifies the type of positioning method used for an element.*/
                                /*The box-sizing property allows us to include the padding and border in an element's total width and height.*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    /* third dimension, z shows it above other content*/
    z-index: 999;

    /* to allow scrolling if the screen is not high enough */
    overflow: auto;

    /*this is used to center the modal*/
    display: grid;
    text-align: center;
}

#modal-container{
    display:none;
}

#modal-container.is-visible{
    display: block;
}

.modal{
    margin: auto;
    /*
    Compared to display: inline, the major difference is that display: inline-block allows to set a width and height on the element.
    Also, with display: inline-block, the top and bottom margins/paddings are respected, but with display: inline they are not.
    Compared to display: block, the major difference is that display: inline-block does not add a line-break after the element, so the element can sit next to other elements.
    */
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    /*
    The max-width property defines the maximum width of an element.
    If the content is larger than the maximum width, it will automatically change the height of the element.
    */
    max-width: 700px;
    text-align: left;
}

.modal-close{
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}

.modal h1{
    margin-top: 0
}

.modal p{
    margin-bottom: 0;
}