/*
Table of Contents: 
0. Global: Spacing & Layout
1. Global: Colours
2. Global: Text
3. Global: Interactive Elements
4. Global: Primary Navigation
*/

/*=== 0. Global: Spacing and layouts ===*/

html, body{
      font-family: Arial, sans-serif;
}
body{
    margin: 0;
}
.page-container {
    margin-top: 65px;
}
/*=== 1. Global: Colours ===*/
  body{
    /* color */
    background-color: #b4c4fa;
    color:#484a51;
  }
/*=== 4. Global: Primary Navigation ===*/
.mr-4 {
    margin-right: (spacer * 1.5) !important;
}
/*=== 3. Global: Interactive Elements ===*/
.pokemon-list{
    list-style: none;
}